<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/mnb_site_de_educacao_financeira_1_fotor_bg_remover_2024052317326_1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.YCOIN"
        tools:targetApi="31">
        <activity
            android:name=".Despesa"
            android:exported="false" />
        <activity
            android:name=".receita"
            android:exported="false" />
        <activity
            android:name=".Conciencia"
            android:exported="false" />
        <activity
            android:name=".Planejamento"
            android:exported="false" />
        <activity
            android:name=".ui.menu.CreditosActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.HomeActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>